:root {
    --brown: #964913;
    --orange: #EA9457;
    --tan: #F4C5A4;
    --dkgrey: #212121;
    --font-family1-serif: 'Lora', 'Times New Roman', serif;
    --font-family2-sans-serif: 'Open Sans', 'arial', sans-serif;
  }
  
  .header,
  .tagline,
  .footer {
    background-color: var(--dkgrey);
  }
  
  .logo {
    max-width: 7vw;
    max-height: 7vw;
    vertical-align: middle;
    font-family: var(--font-family1-serif);
  }
  
  #dropdownDivider {
    position: absolute;
  }
  
  .hero h1,
  .tagline h1,
  .features h1,
  .features h2 {
    font-family: var(--font-family1-serif);
  }
  
  .hero p,
  .features p {
    font-family: var(--font-family2-sans-serif);
  }
  
  .hero img {
    filter: grayscale(100%);
  }  